@import './_colors.scss';

.btn-circle {
  background-color: $color-react-blue-color;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-circle:hover {
  background-color: #fff;
  color: $color-react-blue-color;
}

.pointer {
  cursor: pointer;
}