.Drop-down-section {
    flex: 1;
    justify-content: right;
    text-align: left;
    padding: 5px;
    font-size: 0.7em;
    background-color: #434343;
    border-bottom: 1px solid #c9c9c9;
}

.Drop-down-section i {
    font-size: 0.6em;
    font-weight: bold;
    padding: 5px;
}