@import './_colors.scss';

.Drop-down-section {
  color: $color-react-blue;
  overflow:hidden;

  p {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }

  i {
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    color: #fff;
  }

  .Drop-down-section-title {
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
  }

  .Drop-down-section-row {
    text-overflow: ellipsis;
  }
}

.Drop-down-modal {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0 auto;
  font-size: calc(4px + 2vmin);
  background-color: $filter-dark-color;
  color: #fff;
  position: fixed;
  z-index: 1000;

  ul {
    border-top: 5px solid $color-react-blue;
    border-bottom: 2px solid $color-react-blue;
  }
}