@import './_colors.scss';

.Filter-modal-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
}

.Filter-modal {
  box-sizing: border-box;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  font-size: 1.3rem;
  background-color: $filter-oppacity-color;
  color: #fff;
  position: fixed;
  z-index: 1000;
  width: 15rem;
}

.Filter-modal-header {
  .Filter-close-icon {
    i {
      transition: 0.3s;
    }

    i:hover {
      background-color: lighten($filter-oppacity-color, 50%);
      border-radius: 2.5rem;
      color: $color-react-blue-color;
    }
  }
}

.Filter-section {
  font-size: 0.7em;
  background-color: $filter-dark-color;
  border-bottom: 1px solid #c9c9c9;
  white-space: nowrap;

  ul {
    min-width: 8rem;
    list-style: none;
  }
}