@import './_colors.scss';

.Search-filter-section {
  .input-group-text {
    background-color: $filter-grey-color;
    padding: 5px;
    height: 30px;
  }

  .form-control {
    background-color: $filter-grey-color;
    padding: 5px;
    color: $filter-grey-light-color;
    height: 30px;
  }

  .form-control:focus {
    color: #fff;
  }

  i {
    color: #fff;
  }

  .btn-secondary {
    background-color: $filter-grey-color;
  }

  .btn-group {
    i {
      font-size: 10px;
    }
    .dropdown-menu {
      min-width: auto;
      padding: 0;
      background-color: $filter-grey-color;
      .dropdown-item {
        color: #fff;
        border-bottom: 1px solid $filter-grey-light-color;
        transition: 0.3s;
        padding: 5px 10px;
      }
      .dropdown-item:hover {
        background-color: $filter-dark-color;
      }
      .dropdown-item:focus {
        background-color: $filter-dark-color;
      }
    }
  }


}