.Widget-panel {
  background-color: #F7F7F7;
  min-height: 10vh;
  padding: 0.3em;
  margin: 0.2em 0;
  flex-basis: 33%;
  border-left: 5px solid #61dafb;
  color: #000;
}
.Widget-button {
  background-color: #61dafb;
  color: #fff;
}
