@import './_colors.scss';

.Widget-panel {
  background-color: #F7F7F7;
  min-height: 10vh;
  padding: 0.3em;
  margin: 0.2em 0;
  flex-basis: 33%;
  border-left: 5px solid $color-react-blue;
  color: #000;
}

.Widget-button {
  background-color: $color-react-blue;
  color: #fff;
  border-radius: 25px;
}
